
body {
    background-color: rgb(48, 48, 48);
    
}

.box {
    background-color: dodgerblue;
    height:80px;
    border:5px solid white;
    color:white;
    text-align: center;
    margin-bottom:5px;
}

.header,.hero,.body,.bar,.footer {
    margin-bottom:30px;
}